apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: go-app
  name: go-service
  namespace: goapp
spec:
  ports:
  - port: 8080
    targetPort: 8080
  selector:
    app: go-app
  type: LoadBalancer
status:
  loadBalancer: {}
